{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 .AppleSystemUIFontMonospaced-Regular;\f1\fnil\fcharset0 Monaco;\f2\fmodern\fcharset0 Courier;
}
{\colortbl;\red255\green255\blue255;\red240\green241\blue244;\red0\green0\blue0;\red0\green0\blue0;
\red22\green21\blue22;\red240\green241\blue244;}
{\*\expandedcolortbl;;\cssrgb\c95294\c95686\c96471;\cssrgb\c0\c0\c0;\cssrgb\c0\c1\c1;
\cssrgb\c11372\c10980\c11359\c3922;\cssrgb\c95294\c95686\c96471;}
\margl1440\margr1440\vieww15560\viewh12180\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs28 \cf0 \cb2 \expnd0\expndtw0\kerning0
/* Remove navigation header and links */\
.navbar.top-nav,\
.navbar-nav,\
.nav-item \{\
  display: none !important;\
\}
\f1\fs24 \cf4 \cb5 \
\
.banner-image \{\
    margin-top: -5rem !important\
\}\
\pard\pardeftab720\partightenfactor0

\f2\fs26 \cf4 \cb1 .event-description.ng-star-inserted \{\
	padding-top: .5rem !important;\
\}\
\
bt-master-event-ui-confirmation .actions button.mat-menu-trigger, .actions bt-add-to-calendar \{\
	display: none !important;\
\}\
\
.nav-item.ng-star-inserted\'a0\{\
	display: none\'a0!important;\
\}\
.full-profile-link.ng-tns-c516894903-2\'a0\{\
	display: none\'a0!important;\
\}\
\
.event-name.ng-star-inserted\'a0\{\
	display: none\'a0!important;\
\}\
\
.event-where-when.ng-star-inserted\'a0\{\
	display: none\'a0!important;\
\}\
\pard\pardeftab720\partightenfactor0
\cf0 /* Remove "Full Profile" links after speakers */\
.full-profile-link \{\
  display: none !important;\
\}\
\
/* Remove event title */\
.event-name \{\
  display: none !important;\
\}\
\
/* Remove event date container */\
.event-date-container \{\
  display: none !important;\
\}\
\
\pard\pardeftab720\partightenfactor0

\f0\fs28 \cf0 \cb6 \outl0\strokewidth0 \strokec3 /* Remove share button */\
.mdc-button__label \{\
  display: none !important;\
\}
\f2\fs26 \cb1 \outl0\strokewidth0 \
\pard\pardeftab720\partightenfactor0
\cf4 \
}
